
@media only screen and ( min-width:993px ) and (max-width:3500px){
	.modal-content {
		height:400px;
	}
}
@media only screen and ( min-width:720px ) and (max-width:992px){
	#slide-out2 {
		top:56px!important;
		overflow-y: visible;
		background:rgba(1,87,155, 1);
		width:65px;
		.dropdown-content{
			top:0px !important;
			left:-200px !important;
			width:200px;
			border: 1px solid #1A67A5 !important;
			border-right: none !important;
		}

		.user-view {
			a {
				text-align: right;
				width:100%;
				display: block;
			}
			.circle {
				display:inline-block;
				clear:both;
			}
		}
		#menuopciones{
			width:100%;
			margin-top:0px;
		}
		li{
			/*border-bottom: 1px dotted #eee;*/
			>a{
				padding:0 20px;
				text-align:right;
			}
			i{
				float:right;
				margin-right:0px;
				color: #fff;
			}
		}
		.badge{
			display:block;
			position: absolute;
			right:10px;
			top: -8px;
			width: 17px;
			height: 17px !important;
			line-height: 17px;
			font-size: 11px;
		}
		.material-icons.right{
			margin-right: -8px;
		}
		#dnotificaciones {
			span {
				display:none;
			}
		}
	}
	#moresetting {
		display:block;
	}
	.brand-logo {
		left: 52% !important;
		img {
			width:170px!important;
			margin-top:12px;
		}
	}
	.nmobile {
		display: none;
	}
	.nodesktop {
    	display: block !important;
	}
}
/*@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1) { 
     footer {
     	display: none;
     }
}*/
@media only screen and ( min-width:360px ) and (max-width:480px){
	.loginbox {
		min-height:30vh !important;
		height:60vh !important;
	}
}
@media only screen and ( min-width:320px ) and (max-width:719px){
	.mod {
		a {
			line-height:40px;
		}
	}
	.nmb {
		display: none !important;
		
	}
	.boxnavinterior{
		margin-top: -35px;
		#nav-mobile{
			padding-bottom: 0px;
			.menutitle{
				i {
					position: absolute;
					right: 5px;
					top: 10px;
				}
			}
		}
	}
	.fixedHeader-locked{
		display: none;/**/
	}

	.acord {
		display: none;
	}

	.collapsible-accordion {

	}
	.right-panel {
		width: 100%;
	}
	.left-panel {
		width: 100%;
	}
	.modal {
		width: 95%;
		max-height:80%;
		.modal-content{
			padding: 15px;
		}
		.modal-footer{
			padding: 15px;
		}
		.btn {
			width: 100%;
		}
	}
	
	footer {
     	position:relative !important;
     	display:none;/**/
    }
	
	.boxnavinterior {
		display: block;
		position:relative !important;
		z-index: 2;
		height:auto;
		.side-nav {
			position:relative !important;
			width:97%;
			top:46px;
			max-width:none;
			height:auto;
			padding-bottom: 10px;
			li {
				>a{
					width: 100%;
				}
			}
			/*height: 100vh;*/
			.collapsible-body {
			
			}
		}	
	}

	.boxtabla {
		.dataTables_length {
			width: 100%;
			margin-left: 0px;
		}
		.dataTables_length{
			display: none;
		}
		.dataTables_filter{
			width: 100%;
			margin-left: 0px;
		}
		.dataTables_info {
			display: none;
		}
		table {
			overflow-x: scroll;
			tr {
				td {
					padding: 5px 5px;
				}
				th {
					padding: 5px 5px;
				}
			}
		}
		 #example_paginate {
		 	width: 100%;
		 	text-align: center;
		 	* {
		 		float: none;
		 		display: inline-block;
		 	}
		 }
	}
	.interiorbox {
		padding-top:45px !important;
		padding-right:10px !important;
	}

	#contenido2 {
		width: 100%;
		display: none;
		.logo {
			margin-bottom:0px;
			img {
				
			}
		}
		.input-field {
			margin-bottom:10px;
		}
		.btn-large {
			margin:10px 0px 10px 0px;
		}
		p {
		  text-align:center;
		  /*font-size: 12px;*/
		  a {
		  	/*text-decoration: underline;*/
		  	&:hover{
		  		text-decoration: underline;
		  	}
		  }
		}
	}
	.loginbox {
		width: 95%;
		height:85vh;
		min-height: 80vh;
		img {
			width:200px !important;
		}
		.boxformlogin {
			padding:10px;
		}
	}
	#header {

		nav {
			-webkit-box-shadow:none !important;
			box-shadow:none !important;
			/*box-shadow:none !important;*/
		}
		.dropdown-content{
		/*right: 65px !important;*/
		top:0px !important;
		left:-200px !important;
		width:200px;
		border: 1px solid #1A67A5 !important;
		border-right: none !important;
		}
	}

	.tabs {
		opacity:0.9;
	}
	
	.nmobile {
		display: none;
	}
	.nodesktop {
    	display: block !important;
	}
	.brand-logo {
		left: 51% !important;
		img {
			width:100% !important;
			margin-top:0px;
		}
	}
	#slide-out {
		z-index: 998;
		top:56px !important;
		width: 80%;
		max-width: 320px;
		li {
			&:first-child {
				border-bottom:none;
			}
			border-bottom: 1px dotted #eee;
		}
	
	}
#dperfil {

	overflow:hidden;
}
	#slide-out2 {
		top:56px!important;
		overflow-y: visible;
		background:rgba(1,87,155, 1);
		width:65px;
		li {
			>a{
				width: 100%;
			}
		}
		.dropdown-content{
			top:0px !important;
			left:-200px !important;
			width:200px;
			border: 1px solid;
			border-color: #1A67A5 !important;
			border-right: none !important;
		}

		.user-view {
			a {
				text-align: right;
				width:100%;
				display: block;
			}
			.circle {
				display:inline-block;
				clear:both;
			}
		}
		#menuopciones{
			width:100%;
			margin-top:0px;
		}
		li{
			/*border-bottom: 1px dotted #eee;*/
			>a{
				padding:0 20px;
				text-align:right;
			}
			i{
				float:right;
				margin-right:0px;
				color: #fff;
			}
		}
		.badge{
			display:block;
			position: absolute;
			right:10px;
			top: -8px;
			width: 17px;
			height: 17px !important;
			line-height: 17px;
			font-size: 11px;
		}
		.material-icons.right{
			margin-right: -8px;
		}
		#dnotificaciones {
			span {
				display:none;
			}
		}
	}
	#moresetting {
		display:block;
	}
	#contenido {
		min-height: 100vh;
	}
	.overleft	{
		display: none !important;
	}
}

#contenido2 {
	display: table-cell;
}