{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashbsoard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content_title %}{% if title %}<h3>{{ title }}</h3>{% endif %}{% endblock %}
{% block content %}
<div id="content-main">
    <div class="row">
    {% if app_list %}
    {% for app in app_list %}
       
        <div class="col s12 m4 l3 test">
            <div class="card mod">
                <div class="card-image waves-effect waves-block waves-light activator hvr-push">
                    {{ app.app_icon }}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 truncate"> 
                        {{ app.name }}
                        <i class="material-icons right">more_vert</i>

                    </span>
                    <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">

                    <span class="card-title grey-text text-darken-4">
                        {{ app.name }}<i class="material-icons right">close</i>

                    </span>
                     {% for model in app.models %}
                        <div class="app-item col s12 m12 l6">  
                            <span class="truncate">
                                <a class=" hvr-backward truncate" href="{{ model.admin_url }}">
                                    {{ model.icon }}
                                  
                                    {{ model.name }}
                                </a>
                            </span>
                            {% if model.add_url %}
                                <a href="{{ model.add_url }}" class="addlink" title="agregar"><i class="material-icons">add</i></a>
                                {% else %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
          {% endfor %}   
     
    </div>
</div>

  
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}



{% block sidebar %}<!--
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h3>{% trans 'Recent actions' %}</h3>
        <h4>{% trans 'My actions' %}</h4>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>-->
{% endblock %}