{% load i18n admin_urls %}

 <div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
          {% if show_save_and_add_another %}<li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Grabar y añadir otro">
        <a class="btn-floating yellow darken-1" value="{% trans 'Save and add another' %}" name="_addanother">
            <i class="material-icons">library_add</i>
        </a>
    </li>{% endif %}

    {% if show_save_and_continue %}
      <li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Grabar y continuar editando">
           <a class="btn-floating green" value="{% trans 'Save and continue editing' %}" name="_continue">
                <i class="material-icons">cached</i>  
           </a>  
      </li>{% endif %}
      {% if show_save %}
      <li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Grabar">
        <a class="btn-floating blue" value="{% trans 'Save' %}" class="default" name="_save">
            <i class="material-icons">save</i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>